/*---------- CSS Reset -------*/

*{
    padding:0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}
/*------------- MAIN STYLING --------------*/


body {
  width:70%;
  max-width: 670px;
  margin:auto;
  background: #fafafa;
  color: #333;
  font-family: 'Libre Baskerville', serif;
}

section, aside, header, footer {


}

article {
  display:flex;}

.main {flex: 3;
padding-right: 1em;}

aside{
  flex:1;
  font-size: 0.75em;
  font-style: italic;
  border-left: 1px solid #333;
  padding: 1em;
}

/*-----------------TYPOGRAPHY--------------*/
section, header, footer {width:100%;
max-width: 1000px;
margin: auto;}
h1, h2, h3 {
  font-weight: normal;
  color: #8F0040;
  text-align: center;

}

P{font-family: 'Open Sans', sans-serif;}


p, blockquote {
  margin-bottom:1.5em;
  line-height: 1.5;
}


h1 {font-size: 2.827em;
    margin-top: 2em;
    margin-bottom: 0.1em;
    font-weight: bolder;
  }

h2 {font-size: 1.999em;
    margin: 3em 0 1em 0;
    font-weight: bolder;
  }

h3 {font-size: 1.414em;
    margin-bottom: 1.5em }

    a:link {
      text-decoration: none;
    }

blockquote {
    font-size: 1.414em;
    hanging-punctuation: first;
    text-indent: -0.08em;
    color: #8F0040
}

blockquote cite {
     font-size: 0.7em;
}

header h3 {font-style:italic;}


header p {font-size: 1.141em;}

.dark {background: #333;
color: #fafafa
padding: 2em 0}

/*---------------------TABLET------------*/
@media (max-width: 50em) {

    body {

        width: 100%;
    }

header p, article {
    width: 95%;
    padding: 0.5em;
    }

article { flex-flow: column;
          flex-direction: column;}

section { width: 90%}

.aside {border-left: none;
        margin: 0;
        padding-left: 1em;
    font-size: 1.2em}
}
/*---------------SMARTPHONE----------*/

/*-----------STYLING LINKS-----------*/
a {
  color: #8F0040;
  text-decoration:none;

}

a:hover {
    color: #E9B6C9;
    border-bottom: 1px dotted;

}

/*------------------- NAVIGATION ------------------*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: #8F0040;
    padding: 1em 0;
    font-size: 0.75em;
    box-shadow: 0 0 10px 0 black;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li {
    display: inline;
    margin: 20px;
}

nav a:link {
    color: #fafafa;
}

nav a:visited {
    color: #fafafa;
}

nav a:hover {
    border-bottom: none;
    color: #E9B6C9;
  }

.baskerville {
      background:#8F0040;
      color: #fafafa;
      padding: 2em 0;
      width: 100%;
  }


/*--------------TABLE STYLING-----------------*/


table {
  margin:auto;
  display:table;
  border-collapse: collapse;
  border-spacing: 2px;
  margin-bottom: 2em;
  width: 100%;
}

caption {
  margin-bottom: 1.75em;
  text-transform: uppercase;
}

th {
color: #fafafa;
text-transform: uppercase;
font-weight: normal;
text-align: left;
background: #8F0040;
}

th,td {
  padding: .6em;
}

table,td {
  background: #E9B6C9;
  border: 1px solid #fafafa;
}

/*------------------IMAGES-----------*/

img {
  display: block;
  margin: 3em auto;
  padding: 0;
  max-width: 100%;
}

/*--------------FOOTER-------------*/

footer{
  text-align:center;
  font-size: 0.707em;
  padding: 2em 1 6em 0;
  max-width: 100%;
  box-shadow: 0 50vh 0 50vh #8F0040;
}
page-footer a {
     color: #fff;
}
.connections {
	position: relative;
	margin: 0 auto;
}

.connections ul {
	margin: 0;
	padding: 0;}

.connections li {
	margin: 0 15px;
	padding: 0;
	list-style: none;
	display: inline-block;}

.connections a:link {
	border-bottom: none;}

.connections img {
	opacity: 0.5;
    border: none;
	}

 .connections a:hover img {
		opacity: 1.0;
		border-bottom: none;
		transition: all 0.3s ease-in-out;
				}
